################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BandwidthLimitProxy/Debug
/Debug
/BandwidthLimitProxy/BandwidthLimitProxy.vcxproj.filters
/BandwidthLimitProxy/BandwidthLimitProxy.vcxproj
*.suo
/BandwidthLimitProxy.sdf
/BandwidthLimitProxy.opensdf
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/vc140.pdb
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/vc140.idb
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/TransferLayer.obj
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/TcpReceiver.obj
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Proxy.obj
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/CacheManager.obj
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/BandwidthLimitProxy.obj
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/BandwidthLimitProxy.log
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/link.write.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/link.read.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/link.command.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/CL.write.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/CL.read.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/CL.command.1.tlog
/BandwidthLimitProxy/BandwidthLimitProxy/Debug/Bandwidt.A7148A21.tlog/BandwidthLimitProxy.lastbuildstate
